@import '@/assets/styles/var.scss';

@media only screen and (max-width: 500px) {
    .section-screen {
        flex-direction: column-reverse;

        .search-warp {
            width: 100%;
        }

        .tags {
            margin-top: 15px;

            a {
                margin-bottom: 15px;
            }
        }
    }

    .screen-rigth {
        flex-direction: row-reverse;

        .sort-warp {
            margin-left: 10px;
        }
    }
}


