@import '@/assets/styles/var.scss';

.section-header {
    .screen-item {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }

        .key {
            .title {
                margin-right: 10px;
            }
        }
    }
}

.upload-warp {
    .upload {
        width: 160px;
        height: 160px;
        border: 1px dashed #bfc2cc;
        border-radius: 6px;
        position: relative;

        .add {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 3;
            text-align: center;

            .cover {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .icon {
                font-size: 24px;
                height: 24px;
                margin-right: 0;
                margin-top: 0;
            }

            .close {
                width: 100%;
                line-height: 50px;
                background: rgba(0, 0, 0, 0.6);
                position: absolute;
                left: 0;
                bottom: 0;
                color: #fff;
                font-size: 14px;
                z-index: 2;
            }

            .label {
                margin-top: 10px;
                font-size: 14px;
                color: #909399;
            }

            input {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                opacity: 0;
                z-index: 2;
                cursor: pointer;
            }
        }
    }
}

.input-item {
    border-radius: 6px;
    cursor: pointer;

    input,
    textarea {
        padding: 14px;
        background: #fff;
        font-size: 14px;
        box-sizing: border-box;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 6px;

        &::placeholder {
            color: #bfc2cc;
        }
    }

    textarea {
        height: 144px;
        min-height: 144px;
        max-height: 144px;
        max-width: 100%;
        min-width: 100%;
    }

    .select-warp {
        background: #fff;
        font-size: 14px;
        border-radius: 6px;
        width: 100%;
        height: 48px;
        list-style: 48px;
        padding: 0 14px;
        box-sizing: border-box;
        position: relative;

        .picker-modal {
            margin-top: 58px;
        }

        .key {
            font-size: 14px;
        }

        .value {
            .placeholder {
                color: #bfc2cc;
            }

            i {
                font-size: 14px;
                color: $mainColor;
                margin-left: 4px;
            }

            .classify {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        :deep(.el-select) {
            margin-left: -14px;
            margin-right: -14px;

            .el-select__tags {
                flex-direction: row-reverse;

                .el-select__input {
                    text-align: right;
                }
            }

            .el-input__inner {
                border: none;
                outline: none;
                text-align: right;

                &::placeholder {
                    text-align: right;
                }
            }

            // position: absolute;
            // width: 100%;
            // height: 100%;
            // left: 0;
            // top: 0;
            // opacity: 0;
        }
    }

    .create-series-btn {
        margin: 20px 20px 0 20px;
    }
}

.batch-create {
    margin-top: 40;

    .batch-create-list {
        margin-top: 40px;

        .batch-create-item {
            width: calc((100% - 40px) / 5);
            margin-right: 10px;
            margin-bottom: 10px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            margin-bottom: 30px;

            &:nth-child(5n) {
                margin-right: 0;
            }



            .upload-warp {
                width: 100%;
                height: 0;
                padding-bottom: 100%;
                position: relative;


                .upload {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: #fff;
                }
            }



            input,
            textarea {
                width: 100%;
                max-width: 100%;
                border: none;
                outline: none;
            }

            .input-item {
                line-height: 30px;
            }

            .orginFile,
            .index,
            .name,
            .intro {
                margin-top: 10px;
            }

            .orginFile {
                position: relative;
                background: #fff;
                line-height: 30px;
                padding: 14px;
                font-size: 14px;
                cursor: pointer;

                .placeholder {
                    color: #aaa;
                }

                .val {
                    @extend %text-ellipsis;
                }

                input {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    z-index: 2;
                    opacity: 0;
                    cursor: pointer;
                }


                .picker-modal {
                    left: 0;
                    margin-top: 60px;
                }
            }

            .add {
                cursor: pointer;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: #f5f7f9;
                z-index: 2;
                border: 1px dashed #aaa;
                border-radius: 6px;
                font-size: 48px;
                color: #aaa;
            }

            .btn {
                margin-top: 10px;
                padding: 10px;
                color: inherit;
                text-decoration: none;
            }

        }
    }

    .btn {
        margin-top: 20px;
    }
}

.result {
    .batch-create-tips {
        font-weight: bold;
    }

    .result-msg {
        .result-num {
            margin-top: 10px;

            span {
                font-size: 32px;
                margin: 0 5px;
                font-weight: bold;
            }
        }

        .el-progress {
            margin-top: 30px;
        }
    }
}

.select-series {
    :deep(.picker-modal) {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 600px) {
    .section-header {
        flex-direction: column;

        .screen-item {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}


@media only screen and (max-width: 900px) {
    .batch-create {
        .batch-create-list {
            .batch-create-item {
                width: calc((100% - 30px) / 4);

                &:nth-child(5n) {
                    margin-right: 10px;
                }

                &:nth-child(4n) {
                    margin-right: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .batch-create {
        .batch-create-list {
            .batch-create-item {
                width: calc((100% - 20px) / 3);

                &:nth-child(5n) {
                    margin-right: 10px;
                }

                &:nth-child(4n) {
                    margin-right: 10px;
                }

                &:nth-child(3n) {
                    margin-right: 0px;
                }
            }
        }
    }

}

@media only screen and (max-width: 600px) {
    .batch-create {
        .batch-create-list {
            .batch-create-item {
                width: calc((100% - 10px) / 2);

                &:nth-child(5n) {
                    margin-right: 10px;
                }

                &:nth-child(4n) {
                    margin-right: 10px;
                }

                &:nth-child(3n) {
                    margin-right: 10px;
                }

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }
    }

}